@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.button-primary {
  padding: 1rem 2rem;
  color: #000;
  background-color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1000;
}
.grid-bg {
  max-width: 60%;
  padding: 1.5rem 2rem;
}
.grid-item {
  padding: 0.5rem 0.8rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid #9ca3af;
  text-align: center;
  background: transparent;
}
.active-grid {
  box-shadow: #fff 0px 1px 0.8rem 0;
}

.next {
  position: fixed;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  right: 5%;
  bottom: 5%;
}

.title {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
}

.chat-ipt {
  width: 60%;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 1rem;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 500;
}
.chat-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 2rem;
  height: fit-content;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.img-container {
  position: relative;
  width: 100%;
  height: 30rem;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: center;
}
.repaint {
  position: absolute;
  font-size: 1rem;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.arrow {
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}

.disable {
  user-select: none;
  pointer-events: none;
  filter: brightness(0.5);
}
.button-generate {
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid #fff;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}

.preview {
  width: 30rem;
  height: 30rem;
  z-index: 1;
}
.preview-img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.description {
  padding: 1rem;
  color: #000;
  width: 100%;
  max-width: 40%;
  z-index: 2;
  background: #f8f8f8;
  border-radius: 0.8rem;
  position: relative;
  word-break: break-word;
}

.overlay {
  background-position: 50%;
  background-size: cover;
  bottom: -2rem;
  filter: blur(1rem);
  left: -2rem;
  opacity: 0.8;
  position: fixed;
  right: -2rem;
  top: -2rem;
  z-index: 1;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero-logo {
  height: 8rem;
  width: auto;
}
.hero-title {
  height: 8rem;
  width: auto;
}

.connect-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 5;
}

.loras {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: center;
  gap: 1rem;
}
